{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nepal Disaster Resillance Foundation{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">

  
    {% block extra_css %}
    {% endblock %}
</head>
<body>
{% block navbar %}

    {% include 'app/navbar.html' %}

    {% endblock %}


    <div class="content">
        {% block content %}
   


        {% endblock %}
    </div>


    {% block extra_js %}
    {% endblock %}

</body>
</html>
