{% extends 'app/base.html' %}
{% load static %}

{% block title %}All Messages{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/css/messagec.css' %}">
{% endblock %}

{% block content %}
{% comment %} <h2>All Messages</h2> {% endcomment %}
<table class="messages-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Sent At</th>
        </tr>
    </thead>
    <tbody>
        {% for msg in messages %}
        <tr>
            <td>{{ msg.name }}</td>
            <td>{{ msg.email }}</td>
            <td>{{ msg.subject }}</td>
            <td>{{ msg.message }}</td>
            <td>{{ msg.created_at|date:"d M Y H:i" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No messages yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
