<!-- FOOTER -->
<footer class="site-footer">
  <div class="footer-container">
    <!-- About Section -->
    <div class="footer-section about">
      <h2>Nepal Disaster Resilience Foundation</h2>
      <p>
      Preaperdness for hapiness.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
            <a href="#">FAQ</a>
 
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="footer-section contact">
      <h3>Contact Us</h3>
      <p>Email: ndrf999@gmail.com</p>
      <p>Phone: +9779851441999</p>
      <p>Address:  Balkumari, Lalitpur</p>
    </div>

    <!-- Newsletter -->
    <div class="footer-section newsletter">
      <h3>Newsletter</h3>
      <p>Subscribe to get the latest updates.</p>
      {% comment %} <form>
        <input type="email" placeholder="Your email" required>
        <button type="submit">Subscribe</button>
      </form> {% endcomment %}
      <div class="socials">
        <a href="https://www.facebook.com/profile.php?id=61584238079194" class="social-icon">Facebook</a>
     
        <a href="https://www.instagram.com/ndrf2025/"  class="social-icon">Instagram</a>
        <a href="#" class="social-icon">LinkedIn</a>
        <a href="https://www.tiktok.com/@ndrf999?_r=1&_t=ZS-91fWsJqYz7R" class="social-icon">Tiktok</a>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Company Name. All Rights Reserved.</p>
  </div>
</footer>
