{% extends 'app/base.html' %}

{% load static %} 

{% block title %}Home - NDRF{% endblock %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/css/base.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}


{% block content %}
<section class="hero-section">
    {% comment %} <div class="hero-text-top">
        <h1>Welcome to Nepal Disaster Resilience Foundation (NDRF)</h1>
        <p>Building a resilient Nepal through awareness, training, and support.</p>
    </div> {% endcomment %}
    <div class="hero-image">
          <div class="slider">
        <img src="{% static 'app/images/homendrf.jpg' %}" alt="NDRF Banner">
        <img src="{% static 'app/images/bg.jpg' %}" alt="image1">
        <img src="{% static 'app/images/meting4.jpg' %}" alt="image1">
           </div>
    </div>
</section>

<section class="vision-mission">
    <div class="box vision">
        <h2>
            <i class="fas fa-eye" style="color:#3498db; margin-right:8px;"></i>
            Our Vision
        </h2>
        <p>“A disaster-resilient Nepal where communities are safe, prepared, and adaptive.”</p>
    </div>

    <div class="box mission">
        <h2>
            <i class="fas fa-bullseye" style="color:#e74c3c; margin-right:8px;"></i>
            Our Mission
        </h2>
        <p>To enhance disaster resilience by strengthening preparedness, response, recovery, and risk reduction capacities of communities and institutions through training, innovation, research, partnerships, and evidence-based advocacy.</p>
    </div>
</section>

<section class="events-gallery">
    <h2>Recent Events</h2>
    <p class="subheading">Advisors Meeting</p>

    <div class="gallery">
        <img src="{% static 'app/images/e1.jpg' %}">
        <img src="{% static 'app/images/e2.jpg' %}">
        <img src="{% static 'app/images/e3.jpg' %}">
        <img src="{% static 'app/images/e4.jpg' %}">
        <img src="{% static 'app/images/e5.jpg' %}">
        <img src="{% static 'app/images/e6.jpg' %}">
        <!-- Add unlimited images -->
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll(".events-gallery .gallery img");
    let current = 0;

    if (images.length === 0) return;

    images[current].classList.add("active");

    setInterval(() => {
        images[current].classList.remove("active");
        current = (current + 1) % images.length;
        images[current].classList.add("active");
    }, 3000); // 3 seconds
});
</script>

{% endblock %}
