{% extends 'app/base.html' %}
{% load static %}

{% block title %}Login - Nepal Disaster Resilience Foundation{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-container">
    <h2>Login</h2>

    {% if error %}
    <div class="error-box">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <label style="margin-top:15px;">Password</label>
        <input type="password" name="password" required>

        <button class="login-btn" type="submit">Login</button>
    </form>
</div>

{% endblock %}
